body {
    background-color: #A4B8AD;
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
nav{
  width: 100%;
  overflow: auto;
  background: #E5E8E8;
}

ul{
    padding: 0;
    margin: 0 0 0 290px;
    list-style: none;
}

li{
  float: left;
}
li a{
  width:100px;
  display: block;
  padding: 20px 110px;
  text-decoration: none;
  font-family:Arial;
  color:black;
  text-align:center ;
}
li a:hover{
    background:#E5E8E8 ;
    text-transform: uppercase;
}
.logo img{
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width:300px;
    height: 76px;
}
h2{
    margin:0;
    padding:0;
}
h3{ 
    padding-left: 70px;
    padding-bottom: 0;  
    margin-top: 0;
}
dl{ 
  padding-left: 70px;
  padding-bottom: 0;  
  margin-top: 0;
}
